@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'PT Sans';
	font-display: swap;
	src: local('PT Sans'), url('../fonts/PTSans-Regular.woff2') format('woff2');
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: 'PT Sans';
	font-display: swap;
	src: local('PT Sans'), url('../fonts/PTSans-Bold.woff2') format('woff2');
}
