body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
}

.container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 40px;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.button {
	display: block;
	padding: 10px 30px;
	text-transform: uppercase;
	color: #ffffff;
	background: #756157;
	border-radius: 4px;
}
