/* HEADER */
.page-header {
	display: flex;
	padding: 0 70px;
}

.page-header__nav {
	display: flex;
	align-items: flex-start;
	margin-left: 47px;
}

.nav-list {
	display: flex;
	margin: 0;
	padding: 0;
}

.nav-list__item {
	padding-right: 35px;
	list-style: none;
	font-size: 20px;
	line-height: 26px;
}

.nav-list__link {
	display: block;
	padding-top: 20px;
	padding-bottom: 18px;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-transform: capitalize;
	text-decoration: none;
	color: #000000;
}

.nav-list__link--current {
	border-bottom: 2px solid #756257;
}

.page-header__links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 300px;
	margin-left: auto;
}

.link-search {
	position: relative;
	display: block;
	width: 43px;
	height: 66px;
}

.link-search::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 43px;
	height: 66px;
	background-image: url('../images/sprite.min.svg#search');
	background-repeat: no-repeat;
}

.link-favorites {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
}

.link-favorites::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 19px;
	height: 17px;
	background-image: url('../../icons/favorite.svg');
	background-repeat: no-repeat;
}

.link-wish {
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

/* MAIN */
.page-main {
	background-image: url('../images/bg-index.jpg');
	background-repeat: no-repeat;
}

.page-main__lead {
	width: 630px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding-top: 543px;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: center;
}

.page-main__features {
	margin: 0;
	text-align: center;
	color: #333333;
}

/* GRID */
.main-list {
	margin: 0;
	margin-top: 90px;
	padding: 0;
	list-style: none;
}

.main-list__item {
	display: grid;
	grid-template-columns: 400px 800px;
}

.main-list__wrapper {
	background-color: #82b3d3;
}

.page-main__item {
	display: grid;
	grid-template-columns: 800px 400px;
}

.page-main__img {
	order: -1;
}

.feature-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.feature-list__item {
	width: 400px;
}

.main-list__heading {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
}

.main-list__number {
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #ffffff;
}

.main-list__text {
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

.feature-list__heading {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
}

.feature-list__text {
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #333333;
}

.seacrh-block__lead {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: center;
}

.seacrh-block__text {
	text-align: center;
}

/* FOOTER */
.page-footer__lead {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.page-footer__text {
	text-align: center;
}

.page-footer__social-item {
	list-style: none;
}

.page-footer__social-link {
	text-decoration: none;
}

.page-footer__phone {
	text-decoration: none;
}

.page-footer__copyright {
	text-decoration: none;
}

/* CATALOG */
.main-catalog__heading {
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
	color: #ffffff;
}

.bread-crumbs {
	list-style-type: none;
}

.bread-crumbs__link {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}

.main-catalog__legend {
	font-size: 20px;
	line-height: 26px;
	text-transform: capitalize;
}

.main-catalog__legend label {
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

fieldset {
	border: none;
}
