{% extends '../common/layout.twig' %}

{% set isMain = true %}

{% block main %}
	<main class="page-main">
		<h1 class="visually-hidden">Sedona</h1>
		<p class="page-main__lead">Седона — небольшой городок в Аризоне, заслуживающий большего!</p>
		<p class="page-main__features">Рассмотрим 5 причин, по которым Седона круче, чем Гранд-Каньон!</p>
		<ul class="main-list">
			<li class="main-list__item">
				<div class="main-list__wrapper">
					<h2 class="main-list__heading">Настоящий городок</h2>
					<span class="main-list__number">№ 1</span>
					<p class="main-list__text">Седона — не аттракцион для туристов, там течёт своя жизнь</p>
				</div>
				<img src="images/bar.webp" alt="Кафе в Седоне" width="800" height="384">

				<ul class="feature-list">
					<li class="feature-list__item">
						<h3 class="feature-list__heading">Жильё</h3>
						<p class="feature-list__text">Рекомендуем пожить в настоящем мотеле, всё как в кино!</p>
					</li>
					<li class="feature-list__item">
						<h3 class="feature-list__heading">Еда</h3>
						<p class="feature-list__text">Всегда заказывайте топовый фирменный бургер, вы не разочаруетесь!</p>
					</li>
					<li class="feature-list__item">
						<h3 class="feature-list__heading">Сувениры</h3>
						<p class="feature-list__text">Не только китайского, но и настоящего местного производства!</p>
					</li>
				</ul>
			</li>
			<li class="page-main__item">
				<div class="main-list__wrapper">
					<h2 class="main-list__heading">Там есть мост дьявола</h2>
					<span class="main-list__number">№ 2</span>
					<p class="main-list__text">Да, по нему можно пройти! Если вы осмелитесь, разумеется</p>
				</div>
				<img class="page-main__img" src="images/canyon.webp" alt="Каньен в Седоне" width="800" height="384">
			</li>
			<li class="page-main__item">
				<h2 class="main-list__heading">Небольшая площадь</h2>
				<span class="main-list__number">№ 3</span>
				<p class="main-list__text">Все достопримечательности находятся очень близко</p>
			</li>
			<li class="page-main__item">
				<h2 class="main-list__heading">Красивая дорога</h2>
				<span class="main-list__number">№ 4</span>
				<p class="main-list__text">Ехать в Седону из Лас-Вегаса совсем не скучно!</p>
			</li>
			<li class="page-main__item">
				<h2 class="main-list__heading">Мало туристов</h2>
				<span class="main-list__number">№ 5</span>
				<p class="main-list__text">Большинство едет в Гранд Каньон и толпится там</p>
			</li>
		</ul>

		<article class="page-main__search search-block">
			<h2 class="visually-hidden">Поиск гостиницы.</h2>
			<b class="search-block__lead">Заинтересовались?</b>
			<p class="search-block__text">Укажит1е предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в Седоне</p>
			<a class="search-block__link button" href="#!">Поиск гостиницы в Седоне</a>
		</article>
	</main>
{% endblock %}
