.button {
	.transition();

	display: inline-block;
	vertical-align: baseline;
	box-sizing: border-box;
	padding: 10px 30px;
	font-family: inherit;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background-color: #756157;
	border-radius: 4px;
	cursor: pointer;
}
