.main-catalog {
	label {
		font-size: 18px;
		line-height: 21px;
	}

	fieldset {
		border: none;
	}
}

.main-catalog__form {
	color: #ffffff;
}

.main-catalog__heading {
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
}

.main-catalog__legend {
	font-size: 20px;
	line-height: 26px;
	text-transform: capitalize;
}
