.main-list {
	margin: 0;
	margin-top: 90px;
	padding: 0;
	list-style: none;
}

.main-list__item {
	display: grid;
	grid-template-columns: 400px 800px;
}

.main-list__wrapper {
	background-color: #82b3d3;
}

.main-list__heading {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
}

.main-list__number {
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #ffffff;
}

.main-list__text {
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}
