.nav-list {
	display: flex;
	margin: 0;
	padding: 0;
}

.nav-list__item {
	padding-right: 31px;
	list-style: none;
	font-size: 20px;
	line-height: 26px;
}

.nav-list__link {
	display: block;
	padding-top: 18px;
	padding-bottom: 21px;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	text-decoration: none;
	color: #000000;

	&--current {
		border-bottom: 2px solid #756257;
	}
}
