.page-main {
	background-image: url('../images/bg-index.jpg');
	background-repeat: no-repeat;
}

.page-main__lead {
	width: 630px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding-top: 543px;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: center;
}

.page-main__features {
	margin: 0;
	text-align: center;
	color: #333333;
}

.page-main__item {
	display: grid;
	grid-template-columns: 800px 400px;
}

.page-main__img {
	order: -1;
}
