.page-header {
	display: flex;
	padding: 0 70px;
}

.page-header__nav {
	display: flex;
	align-items: flex-start;
	margin-left: 47px;
}

.page-header__links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 300px;
	margin-left: auto;
}
