.page-footer__lead {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.page-footer__text {
	text-align: center;
}

.page-footer__social-item {
	list-style: none;
}

.page-footer__social-link {
	text-decoration: none;
}

.page-footer__phone {
	text-decoration: none;
}

.page-footer__copyright {
	text-decoration: none;
}
