.page-header {
	position: relative;
	z-index: 1;
	display: flex;
	margin-bottom: -6px;
	padding: 0 70px;
}

.page-header__nav {
	display: flex;
	flex-grow: 1;
	align-items: flex-start;
	margin-left: 45px;
}

.page-header__links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 300px;
	margin-left: auto;
}
