<!DOCTYPE html>
<html class="page" lang="ru">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Sedona</title>
		<link rel="stylesheet" href="styles/style.min.css"/>
	</head>

	<body class="page__body">
		<div class="container">
			<header class="page-header">
				<a class="page-header__logo" {{ not isMain ? 'href="index.html"' }}>
					<img src="../images/logo.svg" width="139" height="70" alt="Логотип сайта Sedona"/>
				</a>
				<nav class="page-header__nav main-nav">
					<ul class="nav-list">
						<li class="nav-list__item">
							<a class="nav-list__link nav-list__link--current" {{ not isMain ? 'href="index.html"' }}>Главная</a>
						</li>
						<li class="nav-list__item">
							<a class="nav-list__link" href="#!">О Седоне</a>
						</li>
						<li class="nav-list__item">
							<a class="nav-list__link" {{ not isCatalog ? 'href="catalog.html"' }}>Гостиницы</a>
						</li>
					</ul>

					<div class="page-header__links">
						<a class="link-search" href="#!"><span class="visually-hidden">Поиск</span></a>
						<a class="link-favorites" href="#!"><span class="visually-hidden">Избранное</span></a>
						<a class="link-wish button" href="#!">Хочу сюда</a>
					</div>
				</nav>
			</header>

			{% block main %}{% endblock %}

			<footer class="page-footer">
				<div class="page-footer__mailing">
					<b class="page-footer__lead">Подпишитесь на рассылку</b>
					<p class="page-footer__text">Только полезная информация и никакого спама, честное бойскаутское!</p>
					<form class="page-footer__form" method="post">
						<input type="text" placeholder="Ваш e-mail"/>
						<button class="button" type="submit">Подписаться</button>
					</form>
				</div>

				<ul class="page-footer__social-list">
					<li class="page-footer__social-item">
						<a class="page-footer__social-link" href="#!"><span class="visually-hidden">Vk</span></a>
					</li>
					<li class="page-footer__social-item">
						<a class="page-footer__social-link" href="#!"><span class="visually-hidden">Telegram</span></a>
					</li>
					<li class="page-footer__social-item">
						<a class="page-footer__social-link" href="#!"><span class="visually-hidden">Youtube</span></a>
					</li>
				</ul>

				<a class="page-footer__phone" href="tel:+78128121212">+7 (812) 812-12-12</a>
				<a class="page-footer__copyright" href="#!">
					Разработано
					<img src="#" alt=""/>
				</a>
			</footer>
		</div>
	</body>
</html>
